In [5]:
import pandas as pd
import numpy as np

#csvファイル読み込み
df = pd.read_csv("./sample_data/california_housing_train.csv")
#中身を表示してみる
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [9]:
#population列のみ抽出してndarray型にする
population = np.array(df["population"])
#データ型を表示
print(population.dtype)
#中身を表示してみる
population

float64

array([1015., 1129.,  333., ..., 1244., 1298.,  806.])

In [10]:
# 合計値
np.sum(population)

24302757.0

In [11]:
# 平均値
np.mean(population)

1429.5739411764705

In [12]:
# 中央値
np.median(population)

1167.0

In [ ]:
# 標本分散(この場合、標本数=populationに含まれる全データ数)
np.var(population, ddof=0)

1317488.9119444669

In [14]:
# 不偏分散
np.var(population, ddof=1)

1317566.4158512817

In [15]:
# 標本標準偏差
np.std(population, ddof=0)

1147.819198281884

In [16]:
# 不偏標準偏差
np.std(population, ddof=1)

1147.8529591595266